/* Reset default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif; /* Montserrat font */
    color: #333;
}

/* Video background container */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

/* Video element */
#bgVideo {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
body{
}
/* Main container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: fit-content;
    position: relative;
    flex-direction: column;
}

/* Weather checker container */
.weatherCheckerContainer {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 550px; /* Original width */
    max-width: 90%;
    font-weight: bold;
    font-size: 20px;
}

/* Logo */
.weatherCheckerContainer img {
    max-width: 200px; /* Adjust the size of the logo */
    height: auto;
}

/* Input and button styles */
input, button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

/* Attribution section */
.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 20px;
}

/* Weather API attribution logo */
.attribution img {
    max-width: 150px;
}

@media screen and (max-width: 750px) {
    .attribution{
        position: relative;
    }
}

.search{
    position: relative;
}
.search > i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
#weatherResult > h1{
    font-size: 42px;
    margin: 0;
    margin-top: 30px;
}
#weatherResult .updated{
    margin: 0;
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}
.mainWeather{
    display: flex;
    align-items:baseline;
    justify-content: center;
    position: relative;
    top: -20px
}
.mainWeather .description p{
    margin: 0;
}

.mainWeather .temp{
    display: flex;
    align-items: baseline;
    position: relative;
    /* background-color: yellow; */
    margin-right: 55px;
}
.mainWeather .temp h1{
    font-size: 64px;
    color:  #f4c430 ;
    padding: 0;
    margin: 0;
}
.mainWeather .temp .degree{
    position: absolute;
    top: 10px;
    right: -30px;
    font-size: 24px;
    color:  #f4c430 ;
    margin: 0;

}
.mainWeather .temp .feels{
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    right:-40px;
    margin: 0;
    text-align: right;
    line-height: 10px;
}
.mainWeather > p.feelsLike{
    font-size: 24px;
}
.mainWeather img{
    position: relative;top: 30px;
}
.description{
    margin: 0;
    position: relative;
    top: -20px
}
.description p{
    margin: 0;
    font-size: 16px;
    position: relative;
    top: -10px;
    color: #555;
}
.stats{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.stats > div{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 30px;
}
.stats > div .heading{
    margin: 0;
    font-size: 16px;
    position: relative;
    /* left: 7px; */
    top:2px;
    color: #555;
}
.stats > div > div{
    position: relative;
}
.stats > div h2{
    margin: 0;
    font-size: 32px;
    position: relative;
}
.stats > div > div{
    display: flex;
    gap: 7px;
    margin-top: 3px;
}
.stats > div .direction{
    margin: 0;
    font-size: 12px;
    color: #555;
}
.stats > div .unit{
    margin: 0;
    font-size: 12px;
    color: #555;
}
.hourly{
    margin: 40px;
}
table{
    margin-top: 30px;
}
table .info{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}
table .info > div p{
    margin: 0;
    font-size: 16px;
    color: #555;
}
table .info > div p.date{
    color: #333;
    font-size: 20px;
}
.table td {
    vertical-align: middle !important;
}
.table img{
    width: 50px;
}